ul{
    background-color: rgb(207, 123, 123);
    height: 5rem;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    border-radius: 20px;
    margin:1rem 2rem;
    text-align: left;
    
    
}